<div class="row">
    <div class="col-xs-3 col-md-2">
        <a href="#/todo" class="big-icon">
            <span class="glyphicon glyphicon-list"></span>
            <span>Tasks</span>
        </a>
    </div>
    <div class="col-xs-3 col-md-2">
        <a href="#/tracker" class="big-icon">
            <span class="glyphicon glyphicon-time"></span>
            <span>Tracker</span>
        </a>
    </div>
    <div class="col-xs-3 col-md-2">
        <a href="#/todo" class="big-icon">
            <span class="glyphicon glyphicon-list"></span>
            Tasks
        </a>
    </div>
</div>
